body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    padding-left: 280px;
    float: left;
}

.menu{
    float: left;
    padding-left: 300px;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat,url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    margin: 432px 0px 0px 404px;
    color: #2c384a;
    text-align: center;
}

.title__container h1{
    font-size: 40px;
    font-weight: bold;
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    padding: 0px 16px;
    margin: 30px 14px 0px 14px;
}

h2{
    margin-top: 100px;
   text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.my_photo{
    margin-top: 55px;
    margin-left: 650px;
}

.about_me{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;    
}

.about_me p{
    margin-top: 20px;
}

.resume{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    background: url(../img/input.png) no-repeat;
    background-position: left;
}

.skills{
    background: url(../img/bg2.jpg);
    height: 530px;
    width: 100%;
    margin-top: 90px;
}

.skills>h2{
    padding-top: 70px;
}

.skill{
    float: left;
    height: 150px;
    width: 200px;
    text-align: center;
    margin-top: 200px;
    margin-left: 300px;
}

.skill1{
    float: left;
     height: 150px;
    width: 200px;
    text-align: center;
     margin-top: 200px;
    margin-left: 50px;
}

.skill2{
    float: left;
     height: 150px;
    width: 200px;
    text-align: center;
     margin-top: 200px;
    margin-left: 50px;
}

.skill3{
    float: left;
     height: 150px;
    width: 200px;
    text-align: center;
     margin-top: 200px;
    margin-left: 50px;
}
h3{
    color: #cf7600;
    margin-top: 40px;
    margin-bottom: 20px;
}

.par{
    text-align: center;
    margin-top: 70px;
}

.cases{
    background: url(../img/photo.png);
    width: 1200px;
    height: 580px;
    margin-left: 150px;
    margin-top: 45px;
}

.client{
    float: left;
    margin-left: 150px;
}

.client>p{
    margin-top: 0.5em;
}

.name_project{
    line-height: 20px;
    width: 800px;
    margin-left: 500px;
}

.bl{
    margin-top: 20px;
    border: 2px;
    background: #63b5ae;
    color: white;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    font-size: 18px;
}

.count_price{
    margin-top: 190px;
    text-transform: uppercase;
}

.price{
    margin-left: 364px;
    
}

.price>h4{
    font-size: 20px;
    margin-top: 30px;
}

select{
    background: #eeeeee;
    width: 700px;
    height: 30px;
}

.price>p{
    line-height: 30px;
}

.stat{
    background: url(../img/bg3.jpg);
    width: 100%;
    height: 500px;
}

.stat h2{
    padding-top:  100px;
}
.stat1{
    float: left;
    height: 150px;
    margin-left: 300px;
    margin-top: 130px;
    
}
.stat2{
    float: left;
    height: 150px;
    margin-left: 150px;
     margin-top: 130px;
}
.stat3{
    float: left;
    height: 150px;
    margin-left: 150px;
    margin-top: 130px;
    
}
.stat4{
    float:left;
    height: 150px;
    margin-left: 150px;
    margin-top: 130px;
    
}

.stat1>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}

.stat2>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}
.stat3>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}
.stat4>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}

.miha{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.feedback{
    line-height: 1.5em;
    margin-top: 30px;
    text-align: center;
   
}
.contacts{
    background: url(../img/bg4.jpg);
    width: 100%;
    height: 800px;
    
}
.contacts>h2{
    padding-top: 50px;
    color: #fff;
}
.contacts>p{
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

.con1{
    float: left;
    color: #fff;
    margin-top: 60px;
    margin-left: 450px;
    text-align: center;
    line-height: 1.5em;
    
}
.con2{
    float: left;
    color: #fff;
    margin-left: 100px;
    margin-top: 60px;
    text-align: center;
    line-height: 1em;
}
.con3{
    margin-top: 60px;
    text-align: center;
    line-height: 1em;
    color: #fff;
}

.message h3{
    color: white;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;

}
.name{
    float: left;
    width: 350px;
    height: 35px;
    margin-left: 388px;
}
.mail{
    width: 350px;
    height: 35px;
    margin-left: 25px;
}

.area{
    margin-left: 388px;
    width: 725px;
    margin-top: 15px;
}