.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #e0e0e0;
  z-index: 1001;
}

.preloader__row {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 3s infinite linear;
}

.preloader__item {
  position: absolute;
  display: inline-block;
  top: 0;
  background-color: #337ab7;
  border-radius: 100%;
  width: 35px;
  height: 35px;
  animation: preloader-bounce 2s infinite ease-in-out;
}

.preloader__item:last-child {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes preloader-bounce {

  0%,
  100% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

.loaded_hiding .preloader {
  transition: 0.5s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 10;
    
}

.logo{
    color: #fff;
    font-size: 28px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 2s ease;
    -o-animation: comming 2s ease;
    animation: comming 2s ease;
}

.menu{
    float: left;
}

.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 13px;
    text-transform: uppercase;
   -webkit-animation: topshift 0.4s ease forwards;
   -o-animation: topshift 0.4s ease forwards;
   animation: topshift 0.4s ease forwards;
    opacity: 0;
}

.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2s;
}
main{
    width: 100%;
    height: 100%;
}

.main{
    width: 100%;
    height: 100%;
    background: url(../img/boy.png) 90% 100%/auto 85% no-repeat,url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
    float: left;
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
   -webkit-animation: titlemove 1s forwards;
    -o-animation: titlemove 1s forwards;
    animation: titlemove 1s forwards;
    -webkit-animation-delay: 2s;
    -o-animation-delay: 2s;
    animation-delay: 2s;  
}

.title__container h1{
    font-family: Arial, sans-serif;
    font-size: 70px;
    font-weight: bold;
    letter-spacing: 
}

.title__container h4{
    margin-top: 40px;
    font-size: 22px;
    color: #79818d;
}

.title__container input{
    height: 40px;
    text-align: center;
    border: 2px solid #79818d;
    background: none;
    border-radius: 5px;
    color: #79818d;
    padding: 0px 16px;
    margin: 30px 14px 0px 14px;
    cursor: pointer;
}
    
}
.title__container input{
    transition: all 0.2s;
    transform: scale(1);
}

.title__container input:hover{
    background: #344051;
    color: white;
}
.title__container input:active{
    transform: scale(1.1);
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top: -80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.menu li a{
    transition: all 0.1s;
    color: white;
    transform: scale(1);
    display: inline-block;
    text-decoration: none;
}

.menu li a:visited{
    color: white;
}
.menu li a:active{
    transform: scale(1.1);
}

.menu li a:hover{
    color: #f29213;
}

h2{
    margin-top: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}



.about_me_container h2{
    font-size: 33px;
    margin: 110px 0 30px;
    text-transform: uppercase;
}
.about_me_container p{
    margin-top: 24px;
}




.resume{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    border: 2px solid #6f707e;
    border-radius: 5px;
    padding: 10px 10px 10px 30px;
    background: url(../img/input.png) no-repeat;
    background-position: left;
    cursor: pointer;
    
}
.resume:hover{
    background: #344051;
    color: white;
}
.resume:active{
    transform: scale(1.1);
}

.skills{
    background: url(../img/bg2.jpg);
    margin-top: 90px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.skills h2{
    padding-top: 40px;
}

.skills p{
    font-size: 12px;
}

.skill{
    margin-top: 200px;
}

h3{
    color: #cf7600;
    margin-top: 40px;
    margin-bottom: 20px;
}

.par{
    text-align: center;
    margin-top: 70px;
}

.cases{
    background: url(../img/photo.png);
    height: 600px;
    
}

.client{
    float: left;
    margin-left: 150px;
}

.client>p{
    margin-top: 0.5em;
}

.name_project{
    line-height: 20px;
    width: 800px;
    
    
}

.bl{
    margin-top: 20px;
    border: 2px;
    background: #63b5ae;
    color: white;
    border-radius: 5px;
    padding: 15px 40px 15px 40px;
    font-size: 18px;
}
.bl:hover{
    transform: scale(1.1);
}

.count_price{
    margin-top: 190px;
    text-transform: uppercase;
}

.price{
    margin-left: 364px;
    
}

.price>h4{
    font-size: 20px;
    margin-top: 30px;
}

select{
    background: #eeeeee;
    width: 700px;
    height: 30px;
}

.price>p{
    line-height: 30px;
}

.price select:hover{
    transform: scale(1.05);
    border-radius: 5px;
}

.stat{
    background: url(../img/bg3.jpg);
    width: 100%;
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.stat h2{
    padding-top:  100px;
}


.stat1{
    float: left;
    height: 150px;
    margin-left: 300px;
    margin-top: 130px;
    
}
.stat2{
    float: left;
    height: 150px;
    margin-left: 150px;
     margin-top: 130px;
}
.stat3{
    float: left;
    height: 150px;
    margin-left: 150px;
    margin-top: 130px;
    
}
.stat4{
    float:left;
    height: 150px;
    margin-left: 150px;
    margin-top: 130px;
    
}

.stat1>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}

.stat2>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}
.stat3>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}
.stat4>h3{
    color: #323e4f;
    font-size: 25px;
    font-weight: bold;
}

.miha{
    display: block;
    margin: 0 auto;
    margin-top: 70px;
}

.feedback{
    line-height: 1.5em;
    margin-top: 30px;
    text-align: center;
   
}
.contacts{
    background: url(../img/bg4.jpg);
    width: 100%;
    height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.contacts>h2{
    padding-top: 50px;
    color: #fff;
}
.contacts>p{
    text-align: center;
    color: #fff;
    margin-top: 60px;
}

.con1{
    float: left;
    color: #fff;
    margin-top: 60px;
    margin-left: 450px;
    text-align: center;
    line-height: 1.5em;
    
}
.con2{
    float: left;
    color: #fff;
    margin-left: 100px;
    margin-top: 60px;
    text-align: center;
    line-height: 1em;
}
.con3{
    margin-top: 60px;
    text-align: center;
    line-height: 1em;
    color: #fff;
}

.message h3{
    color: white;
    margin-top: 60px;
    text-align: center;
    text-transform: uppercase;

}
.name{
    float: left;
    width: 350px;
    height: 35px;
    margin-left: 388px;
}
.mail{
    width: 350px;
    height: 35px;
    margin-left: 25px;
}

.area{
    margin-left: 388px;
    width: 725px;
    margin-top: 15px;
}

.send{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 5px;
    background: none;
    padding: 13px 5px 13px 5px;
    color: white;
}
.send:hover{
    background: #344051;
    color: white;
}
.send:active{
    transform: scale(1.1);
}

.networks{
    text-align: center;
    margin-top: 50px;
}

.networks li{
    display: inline;
    margin-right: 50px;
    
}
.map{
    background: url(../img/map.png);
    width: 100%;
    height: 350px;
}

.white-btn:visited{
color: white;
}

@media(max-width: 991px){
    .title__container, .title__container h4, .title__container input{
        color: white;
        position: relative;
        z-index: 3;
}
    .title__container input{
        border: 2px solid #fff;
    }
    .main{
        position: relative;
}
    main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0,0,0,0.4);
    }
}
